/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
*/

#vis {
  clear: all;
  margin-bottom: 20px;
  height: 370px;
  height: 285px;
}

#tiles {
  font-size: 12px;
  clear: both;
  border:0;
}

#tiles th {
  vertical-align: top;
  padding: 3px;
  color: #ccc;
  border:0;
}

table tbody tr:nth-child(even) {
  background:#fff;
}

th.h7, th.h8, th.h9, th.h10, th.h11, th.h12, th.h13, th.h14, th.h15, th.h16, th.h17, th.h18, th.h19 {
  color: #444 !important;
}  

#tiles tr th {
  padding-top: 12px;
  color:#000;
}

#tiles tr:first-child th {
  padding-top: 3px;
}

#tiles td {
  -webkit-perspective: 1000;
  padding:2px;
}

#tiles .tile {
  width: 38px;
  height: 38px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.7s;
}

.face {
  position: absolute;
  -webkit-backface-visibility: hidden;
  width: 36px;
  height: 36px;
  background: #eee;
  border: 1px solid white;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#tiles td.sel .face {
  border-color: black;
}

.face.hidden {
  display: none;
}

#tiles td.dim .screen {
  opacity: 0.6;
}

.face.back {
  -webkit-transform: rotateY(180deg);
}

.tile .screen {
  background: white;
  opacity: 0.0;
  width: 36px;
  height: 36px;
  position: absolute;
  z-index: 1337;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid white;
}

#legend {
  clear: left;
  margin-left: 24px;
  width: 165px;
  color: #777;
  margin-top: 50px;
  background: #f3f3f3;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  padding: 5px 7px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  line-height: 11px;
  margin-bottom: 10px;
  margin-right: 24px;
}

#legend ul {
  list-style-type: none;
  overflow: hidden;
  clear: both;
}

#legend li {
  float: left;
  margin-right: 1px;
  width: 14px;
  height: 14px;
}

#legend p {
  margin-top: 3px;
}

#legend p.more {
  float: right;
}

#legend p.less {
  float: left;
}

/* 11 buckets purple to red */

.rbow2 .q1-11 {
  background: #5E4FA2;
  /*
  border-left-color: #5b40b3;
  border-top-color: #5b40b3;
  border-right-color: #3e2b7a;
  border-bottom-color: #3e2b7a;
  */
}

.rbow2 .q2-11 {
  background: #3288BD;
}

.rbow2 .q3-11 {
  background: #66C2A5;
}

.rbow2 .q4-11 {
  background: #ABDDA4;
}

.rbow2 .q5-11 {
  background: #E6F598;
}

.rbow2 .q6-11 {
  background: #FFFFBF;
  background: #f6faaa;
  /*border-color: #f6faaa;*/
}

.rbow2 .q7-11 {
  background: #FEE08B;
}

.rbow2 .q8-11 {
  background: #FDAE61;
}

.rbow2 .q9-11 {
  background: #F46D43;
}

.rbow2 .q10-11 {
  background: #D53E4F;
}

.rbow2 .q11-11 {
  background: #9E0142;
}





.dealloc .q1-10 {
  background: #702f9d;
  
  border-top-color: #670c9f;
  border-right-color: #540982;
  border-bottom-color: #540982;
  border-left-color: #670c9f;
  
}

.dealloc .q2-10 {
  background: #352f9e;
  
  border-top-color: #702f9d;
  border-right-color: #702f9d;
  border-bottom-color: #702f9d;
  border-left-color: #702f9d;
}

.dealloc .q3-10 {
  background: #2f659e;
  
  border-top-color: #702f9d;
  border-right-color: #702f9d;
  border-bottom-color: #702f9d;
  border-left-color: #702f9d;
}

.dealloc .q4-10 {
  background: #2fa09c;
  
  border-top-color: #702f9d;
  border-right-color: #702f9d;
  border-bottom-color: #702f9d;
  border-left-color: #702f9d;
}

.dealloc .q5-10 {
  background: #3fa42c;
  
  border-top-color: #702f9d;
  border-right-color: #702f9d;
  border-bottom-color: #702f9d;
  border-left-color: #702f9d;
}

.dealloc .q6-10 {
  background: #9ab12d;
  
  border-top-color: #702f9d;
  border-right-color: #702f9d;
  border-bottom-color: #702f9d;
  border-left-color: #702f9d;
}

.dealloc .q7-10 {
  background: #bdb82c;
  
  border-top-color: #702f9d;
  border-right-color: #702f9d;
  border-bottom-color: #702f9d;
  border-left-color: #702f9d;
}

.dealloc .q8-10 {
  background: #bd9b2c;
  
  border-top-color: #702f9d;
  border-right-color: #702f9d;
  border-bottom-color: #702f9d;
  border-left-color: #702f9d;
}

.dealloc .q9-10 {
  background: #bd7f2c;
  
  border-top-color: #702f9d;
  border-right-color: #702f9d;
  border-bottom-color: #702f9d;
  border-left-color: #702f9d;
}

.dealloc .q10-10 {
  background: #bd5c2b;
  
  border-top-color: #702f9d;
  border-right-color: #702f9d;
  border-bottom-color: #702f9d;
  border-left-color: #702f9d;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


